{% extends "base.html" %}

{% load static %}{% load i18n %}

{% block content %}
  <div class="text-left">
    <div id="products" class="row list-group">
      {% for item in tracks %}
        <div class="item col-xs-12 col-lg-12 text-left">
          <div class="thumbnail clearfix">
            <div class="col-xs-1">
              <img class="track-image" src="{{ item.track.album.images.0.url }}" alt=""/>
            </div>
            <div class="caption col-xs-9">
              <h4 class="group inner list-group-item-heading">
                {{ item.track.name }}
              </h4>

              <p class="group inner list-group-item-text">
                <strong>{% trans "Status" %} : </strong>
                {% if item.public %}
                  {% trans "Public" %}
                {% else %}
                  {% trans "Private" %}
                {% endif %}
                <br />
                <strong>{% trans "Track Count" %} : </strong> {{ item.tracks.total }}
              </p>
            </div>
            <div class="col-xs-2  track-actions">
              <button type="button" id="button_play" class="btn btn-success" >
                <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                {% trans "Play" %}
              </button>
              <br />
              <a class="btn btn-danger btn-sm" href="#">
                {% trans "Remove" %}
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
